<div class="container">
  <div class="user-details">
    <h3> Minhas Experiências </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Designer</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Algumas das linguagens usadas em para web-designer.
       Linguagens simples e úteis</p>
    </div>
    <div class="four columns">
      <h4>Códigos</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Os tipos de códigos usados neste site estão acima, fáceis e melhoram.
        A usabilidade da page </p>
    </div>
    <div class="four columns">
      <h4>Ferramentas</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Algumas das ferramentas no qual eu uso para web designer.
       Ferramentas úteis e de fácil manuseio</p>
    </div>
  </div>
</div>
