<div class="container">
  <div class="user-details">
    <h3> Projetos Futuros </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Projeto Reveal </h5>
      <li> Sobre o projeto </li>
      <p> Iniciativa idealizada por jovens vizando fazer algo significativo e impactante com relação as diversas denúncias sobre corrupção ocorridas no país.</p>
      <a class="project-link" href="#">Voltar ao Topo</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Projeto Pequeno Programador </h5>
      <ul>
        <li> Sobre o projeto</li>
      </ul>
      <p>Incentivar o desenvolvimento e o aprendizado da criança de forma inovadora para que o paradigma sobre programar ainda na infância seja chato e difícil.  </p>
      <a class="project-link" href="#">Voltar ao Topo</a>
    </div>
  </div>
</div>
